<p>The donation made by <%= @donor.name %> was claimed by <%= @food_bank.name %>!</p>

<p>Next steps, <%= @food_bank.full_name %>, the contact at <%= @food_bank.name %> should call <%= @donor.full_name %> at <%= @donor.phone %> to arrange a convenient time for pickup. </p>
